<div class="virtual-scrollbar d-flex flex-column align-items-center">
  <div class="virtual-scrollbar__control"></div>
  <div
    class="virtual-scrollbar__main position-relative"
    (mousedown)="mousedownMain($event)"
    #wrapper
  >
    <div
      class="virtual-scrollbar__track position-absolute"
      [style.height]="trackHeight + 'px'"
      [style.top]="trackTop + 'px'"
      #track
      (mousedown)="$event.stopPropagation(); mousedownTrack($event)"
    ></div>
  </div>
  <div class="virtual-scrollbar__control"></div>
</div>
