.virtual-scrollbar {
  &__main {
    background-color: #eee;
  }
  &__track {
    background-color: #ccc;
    cursor: pointer;
    top: 10px;
    left: 50%;
    &:hover {
      background-color: #aaa;
    }
    &:active {
      background-color: #888;
    }
  }
}
